*
**/node_modules/*
!APPEND_SYSTEM.md
!council.json
!multi-pass.json
!settings.json
!AGENTS.md
!agents
!agents/**
!extensions
!extensions/**
!skills
!skills/**
!prompts
!prompts/**
!themes
!themes/**
!intercepted-commands
!intercepted-commands/**
