*
**/node_modules/*
!APPEND_SYSTEM.md
!council.json
!multi-pass.json
!keybindings.json
!cloak.json
!AGENTS.md
!agents
!agents/**
!extensions
!extensions/**
!prompts
!prompts/**
!intercepted-commands
!intercepted-commands/**
